@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@100..900&display=swap');


:root{
    --basicFontColor:#333333;
    --logoColor:#635446;
    --headerIconColor:#414141;
    --hrColor:#cccccc;
    --headerFont:"Montserrat", Verdana, Helvetica, sans-serif;
    --logoFont:"Bondoi", Helvetica, sans-serif;
    --cormorantFont:"Cormorant (woff2)",Times,"Times New Roman",serif;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--headerFont);
    text-decoration: none;
}
.container{
    width:82vw;
    margin: auto;
    
}
/* Start Header */
/* Top Header */
.topHeader{
    display: flex;
    justify-content: flex-end;
    gap: 0.8em;
    padding:0.5em 0 ;
}
.topHeader a{
    text-decoration: none;
    color:var(--basicFontColor);
    font-size: 14px;
    font-weight: 450;
    font-family: var(--headerFont);
    border-bottom: 0.1em solid transparent;
}
.topHeader a:hover{
    cursor: pointer;
    border-bottom: 0.1em solid var(--basicFontColor);
}

/* Main Header */
.mainHeader{
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainHeader a{
    text-transform: uppercase;
    color: var(--logoColor);
    font-size: 2rem;
    font-weight: 450;
    font-family: var(--headerFont);
}
.searchBox{
    padding:0.5em;
    border: 0.075em solid var(--hrColor);
    border-radius: 0.2em;
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em;
    outline: 0.25em solid transparent;
}
.searchBox:focus-within{
    outline: 0.25em solid rgb(148, 188, 245);
    border-radius: 0.3em;
}
.searchBox input{
    width:92%;
    font-size: 1rem;
    border: none;
}
.searchBox input::placeholder{
    color: var(--basicFontColor);
    font-weight: 550;
}
.searchBox input:focus{
    outline: none;
    border: none;
}
.searchBox button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.searchBox button i{
    font-size: 1.2rem;
    color: var(--logoColor);  
}
.headerIcons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5em;
    padding-right: 1.5em;
}
.headerIcons a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1em solid transparent;
}
.headerIcons a:hover{
    border-bottom: 0.1em solid var(--logoColor);
}
.headerIcons a i{
    color: var(--logoColor);
    font-size: 1.6rem;
}
.headerIcons a span{
    color: var(--headerIconColor);
    font-size: 12px;
}
.cartLink {
    position: relative;
}

.cartBubble {
    position: absolute;
    top: -10px;
    right: -15px;
    background: var(--headerIconColor);
    color: white !important;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.cartPopup {
    display: none;
    position: absolute;
    z-index: 999;
    top: 3em; 
    left: 50%;
    transform: translateX(-90%);
    background-color: white;
    color: var(--basicFontColor);
    padding: 1.5em 1em;
    width: 30em;
    font-size: 12px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

.cartLink:hover .cartPopup {
    display: block;
}
  hr{
    border: 0;
    border-top: 1px solid var(--hrColor);
  }
  #hr1{
    margin: 0 calc(-50vw + 61%); 
    width: 100vw; 
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 1.2em 0 0.5em;
  }
  #hr2{
    margin: 0 calc(-50vw + 61%); 
    width: 100vw; 
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0.5em 0 1.2em;
  }

  /* navbar */

  #clearance{
    color: #e03e3e ;
  }

  nav ul li a:hover{
    border-bottom: 0.25em solid var(--logoColor);
  }


  nav {
    position: relative;

  }
  
  .navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    position: relative;  
  }
  
  .navLink {
    font-size: 0.8em;
    color: var(--headerIconColor);
    font-weight: 550;
    border-bottom: 0.25em solid transparent;
    padding-bottom: 0.5em;
    text-transform: uppercase;
  }
  .navLink:hover{
    border-bottom: 0.25em solid var(--logoColor);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 1.75em;
    left: 0;
    background-color:rgba(220, 220, 220);
    width: 30em;
    z-index: 999;
    padding: 1.5em;
    border-bottom: 0.3em solid var(--logoColor);
    display: none;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.4em;
  }
  
  .dropdown-menu ul li a {  
    font-weight: 500;
    color: var(--basicFontColor) !important;
    text-decoration: none;
    display: block;
    border-bottom: 0.25em solid transparent;
  }
  .dropdown-menu ul li a:hover{
    text-decoration: underline;
    border-bottom: 0.25em solid transparent;
  }
  
  .dropdown-image {
    width: 45%;
    text-align: center;
  }
  
  .dropdown-image img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  
  .navItem:hover .dropdown-menu {
    display: flex;
    justify-content: space-between;
  }
  
/* End Header */

/* Start Wall Art */
#wallArt{
  padding: 0;
}
#breadcrumbs{
  margin: 0;
  padding: 0;
}
.bold{
  font-size: 0.8rem;
  font-weight: 650;
  color: var(--basicFontColor);
}
.bold:hover{
  border-bottom: 1px solid var(--basicFontColor);
}
#basePosition{
  font-size: 0.8rem;
  font-weight: 650;
  color: #595c5f;
}
h1{
  font-family: var(--cormorantFont);
  font-style: italic;
  font-weight: 200;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.75em;
}
#categories{
  padding:auto 2.5em ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5em;
}
.category{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}
.category img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.category a{
  color: var(--basicFontColor);
  font-size: 0.75rem;
}
.category:hover img{
  opacity: calc(50%);
}
.category:hover a{
  border-bottom: 1px solid var(--basicFontColor);
}

/* Start Main */
/* Start Filter Product & Sort */
#filter-sort{
  margin-top: 1.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sortProduct{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}